.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 2%;
    font-size: 1.1rem;
  }
  .footer-top{
    background-color: #d47a07;
  }
  .text-center{
    background-color: #e0caad;
  }
  .footer-main{
    /* background-image: linear-gradient(to right ,  #ffafbd , #ffc3a0 ); */
    background-color: #e0caad;
  }
  .copyright {
    margin-top: 1%;
    color: antiquewhite;
  }
  .social {
    margin-bottom: 3%;
  }
  
  .footer_class {
    margin-top: 7%;
    margin-bottom: 0;
  }
  .me-5 span {
    /* font-family: 'Roboto Mono', monospace; */
    font-weight: bolder;
    font-size: large;
  }

  .tagline h5{
    font-weight: bolder;
    font-size: x-large;
  }
  