.card-body{
    margin: auto;
    text-align: center;
}

.card{
    margin: auto;
    margin-bottom: 4rem;
}

.card-title{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(183, 126, 20);
}

.add-event-button{
    margin-top: 2rem;
    color: white;
    background-color: orange;
    font-size: larger;
    font-weight: bolder;
}